/**********************************/


/*     services inclus     */


/**********************************/

#titre-formules {
    font-size: 2em;
    margin: auto;
}

#box-formules {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 70px auto;
}

.box-f {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    margin: 30px auto;
    line-height: 2.5em;
    border: solid #bdbdbd 1px;
}

.titre-f {
    border: solid #bdbdbd 1px;
    margin: 0;
    padding: 15px;
    background-color: #c9dff0
}

.text-f {
    padding: 50px 20px;
}

#croix {
    color: red;
}

.fas {
    display: flex;
    justify-content: center;
    margin: auto;
    color: green;
}

.entete-tableau {
    background-color: #c9dff0;
    font-weight: bold;
    width: auto;
    height: auto;
}

.centrer {
    padding: 10px 40px 10px;
    text-align: center;
}

.marge {
    padding: 10px 80px 10px 10px;
}

#tableau {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 2em;
}

.tab-dim {
    border-collapse: collapse;
    display: inline-table;
    width: 60%;
    margin-bottom: 150px;
}

td {
    border: solid 1px #bdbdbd
}

#croix {
    color: red;
}

.fas {
    display: flex;
    justify-content: center;
    margin: auto;
    color: green;
}


/* RESPONSIVE */

@media screen and (max-width: 950px) {
    #box-formules {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin: 70px auto;
    }
    .box-f {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
        line-height: 2.5em;
        border: solid #bdbdbd 1px;
    }
    .text-f {
        padding: 20px 10px 0 10px;
    }
    #wrapper {
        display: flex;
        flex-direction: column;
        width: 95%;
        border: solid #bdbdbd 1px;
        line-height: 3em;
        background: #fff;
        margin: 40px auto;
        padding: 10px;
    }
}